body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Basic */

a {
    text-decoration: none;
    color: #FF8D8D;
}

img {
    max-width: 100%;
}

mark {
    padding: 0 5px;
    color: #fff;
    font-weight: 500;
    background-color: #FF8D8D;
}

input:focus {
    outline: none;
}

/* End Basic */


/* Container */

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Header */

.header {
    padding: 5px 0 15px;
    background-color: #eee;
}

.header__inner {
    display: flex;
    flex-direction: column;
}

.header__top {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__control {
    display: flex;
    align-items: center;
}

/* Logo */

.logo__link {
    padding: 0;
    margin: 0;

    color: #414141;

    font-family: Roboto Condensed;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    text-decoration: none;
}

/* Search */ 

.search {
    position: relative;

    flex-shrink: 0;
}

.search__input {
    width: 350px;

    padding: 12px;

    color: #414141;
    background-color: #fff;

    font-size: 14px;

    border: none;
    border-radius: 10px;
}

.search__button {
    position: absolute;

    padding: 0;
    margin: 0;

    right: 10px;
    top: 50%;
    bottom: 0;

    transform: translateY(-50%);

    color: #eee;
    background-color: transparent;

    border: none;

}

.search__button:hover {
    color: #414141;

    cursor: pointer;
}

/* Control */

.control {
    display: flex;
}

.control__item {
 padding: 0 5px;
}

/* Language */

.language__item {
    position: relative;
    padding: 0 8px;

    color: #414141;

    text-decoration: none;

    opacity: 0.6;
}

.language__item:hover {
    color: #FF8D8D;
}

.language__item--active {
    opacity: 1;
}

.language__item--active:hover {
    color: #414141;
    cursor: default;
}

.language__item:first-child::after {
    content: "";

    position: absolute;

    right: -2px;
    top: 0;
    bottom: 0;

    display: block;
    width: 1px;
    height: 100%;

    background-color: #414141;
}

/* User */

.user__button:first-child {
    margin-right: 20px;
}

/* Button */

.button {
    display: inline-block;

    padding: 10px 30px;

    color: #414141;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;

    border: 1px solid #414141;
    border-radius: 10px;

    transition: background-color .3s ease, color .3s ease, border-color .3s ease;
}

.button:hover {
    cursor: pointer;

    background-color: #FF8D8D;
    color: #fff;

    text-decoration: none;

    border-color: #FF8D8D;
}

.button--primary {
    color: #FF8D8D;
    background-color: transparent;
    border-color: #FF8D8D;
}


/* Nav */

.nav {
    display: flex;

    font-weight: 300;
}
.nav__item {
    color: #414141;
    margin-right: 25px;
    list-style: none;
}
.nav__item--active {
    color: #FF8D8D;
}
.nav__link {
    color: inherit;
    text-decoration: none;

    transition: color .3s ease;
}
.nav__item:hover {
    color: #FF8D8D;
}

/* Section */

.section {
    padding-top: 60px;  
    padding-bottom: 90px;  

    background-color: #fff;
}

.section__heading {
    margin: 0 0 60px 0;
    text-align: center;

    color: #414141;
    font-size: 40px;
    font-weight: 300;
}

/* Banner */

.banner {
    color: #fff;;
    padding: 20px;
    height: 400px;
    background: linear-gradient(202deg, #FF8D8D 17.12%, rgba(255, 122, 0, 0.42) 85.72%);
}

.banner__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__heading {
    margin: 0;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;   
}

.banner__description {
    margin-top: 6px;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
}

.banner__button {
    padding: 15px 55px;
    font-size: 24px;
}

.banner__img {
    width: 370px;
    height: auto;
}

/* Products */

.products__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__heading {
    color: #414141;
    font-size: 32px;
    font-weight: 300;
}

.products__more {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 300;
}

.products__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

/* Card */

.card {
    position: relative;

    display: flex;
    flex-direction: column;
}

.card:hover .card__img {
    scale: 1.1;
}

.card__image {
    aspect-ratio: 17 / 22;
    border-radius: 50px;
    overflow: hidden;
}

.card__link {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1;
}

.card__img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;

    transition: scale .7s ease;
}

.card__header {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

.card__price {
    display: inline-block;
    font-size: 24px;
}

.card__discount {
    margin-left: 10px;
    padding: 2px 11px;

    color: #FF8D8D;
    font-size: 16px;
    font-weight: 300;

    border: 1px solid #FF8D8D;
    border-radius: 5px;
}

.card__old_price {
    display: block;

    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: line-through;
    opacity: .5;
}

.card__favorites {
    z-index: 2;
}

.card__heading {
    margin-top: 6px;

    color: #414141;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;

}

/* Advantages */

.advantages__section {
    background-color: #414141;
}

.advantages__section .section__heading {
    color: #fff;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.advantages__image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    aspect-ratio: 1 / 1;

    background-color: #fff;
    border-radius: 50%;
}

.advantages__heading {
    
    margin: 20px 0 10px;
    color: #FF8D8D;

    font-size: 24px;
    font-weight: 400;
}

.advantages__description {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

/* About Us */

.about-us {
    background-image: url(../image/logo-bg.png);
    background-size: 200px;
}

.about-us__block {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-gap: 30px;
    align-items: center;
}

.about-us__description {
    padding: 15px;
    background-color: #fff;
    border-radius: 50px;
    color: #414141;
    font-size: 16px;
    font-weight: 300;
}

.about-us__description > p {
 margin: 10px 0;
 
}

/* Footer */

.footer {
    padding: 50px 0;

    color: #fff;
    background-color: #414141;
}

.footer__inner {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
}

.footer__heading {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.footer__nav-content {
    display: flex;
}

.footer__list {
    margin: 0;
    padding: 0; 

    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, 1fr);

    grid-auto-flow: column;
    list-style: none;
}

.footer__list--social {
    display: flex;
}

.footer__item {
    margin-bottom: 5px;
}

.footer__item--social {
    margin-right: 15px;
    margin-bottom: 0;
}

.footer__link {
    font-weight: 300;
    color: #ccc;
    text-decoration: underline;;
}

.footer__link:hover {
    text-decoration: none;
}

/* Catalog */

/* Main */

.main {
    margin: 50px 0;
}

.main__heading {
    margin-bottom: 50px;

    color: #414141;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

.main__card-info {
    margin-bottom: 80px;
}

/* Catalog */

.catalog {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-gap: 30px;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

}

.catalog__filters > div {
    margin-bottom: 30px;
}

/* Filters */

.filter__heading {
    margin: 0 0 8px 0;

    color: #414141;
    font-size: 24px;
    font-weight: 300;
}

.filter__options {
    display: flex;
    flex-direction: column;
}

.filter__option {
    margin-bottom: 8px;

    display: flex;
    align-items: center;
}

.filter__name {
    color: #414141;
    font-size: 20px;
    font-weight: 300;
}

/* Checkbox */

.checkbox > input[type="checkbox"] {
   width: 0;
   height: 0;
}

.checkbox > span {
    position: relative;

    display: flex;
    align-items: center;
}

.checkbox > span::before {
    content: "";

    margin-right: 8px;

    display: block;


    width: 25px;
    height: 25px;

    border: 1px solid #414141;
    border-radius: 5px;

    transition: border-color .3s ease;
}

.checkbox > span::after {
    content: "";

    position: absolute;

    display: block;
    opacity: 0;

    left: 6px;

    width: 15px;
    height: 15px;

    background-color: #414141;
    border-radius: 4px;

    transition: opacity .3s ease;
}

.checkbox > input:checked + span::after {
    opacity: 1;
}

.checkbox > input:checked + span::before {
    border-color: #414141;
}


 /* Card Info */

.card-info {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 4fr 8fr;
}

.card-info__images {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 130px);
}
.card-info__image {
    overflow: hidden;
    border-radius: 10px;

    cursor: pointer;
}
.card-info__image:nth-child(1) {
    object-fit: cover;
    grid-column: 1 / 4;
    grid-row: 1 / 4;

    border-radius: 50px;
}

.card-info__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}

.card-info__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info__options {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    color: #414141;
    font-size: 20px;
    font-weight: 300;
}

.card-info__option {
    margin-bottom: 10px;
}

.card-info__price {
    font-weight: 500;
    margin-bottom: 10px;
}

.card-info__button {
    flex-shrink: 1;
}

.card-info__information {
    width: 100%;
    padding: 33px 18px;

    font-size: 20px;
    font-weight: 300;

    border: 1px solid #414141;
    border-radius: 10px;
}

/* Viewed */

.viewed {
    margin-bottom: 120px;
}

.viewed__heading {
    margin-bottom: 35px;

    color: #414141;
    font-size: 32px;
    font-weight: 300;
}

.viewed__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

